allure-pytest
allure-python-commons
atomicwrites==1.4.0
attrs==21.2.0
backports.entry-points-selectable==1.1.0
CacheControl==0.12.6
cachy==0.3.0
certifi==2021.5.30
cfgv==3.3.0
charset-normalizer==2.0.4
cleo==0.8.1
clikit==0.6.2
colorama==0.4.4
configparser==5.0.2
crashtest==0.3.1
crayons==0.4.0
distlib==0.3.2
Faker
filelock==3.0.12
html5lib==1.1
identify==2.2.13
idna==3.2
iniconfig==1.1.1
keyring==21.8.0
lockfile==0.12.2
msgpack==1.0.2
nodeenv==1.6.0
packaging
pastel==0.2.1
pexpect==4.8.0
pkginfo==1.7.1
platformdirs==2.2.0
pluggy==0.13.1
poetry==1.1.8
poetry-core==1.0.4
pre-commit==2.14.0
ptyprocess==0.7.0
py==1.10.0
pylev==1.4.0
pyparsing==2.4.7
pytest==6.2.4
python-dateutil
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.26.0
requests-toolbelt==0.9.1
selenium==3.141.0
shellingham==1.4.0
six==1.16.0
text-unidecode
toml==0.10.2
tomlkit==0.7.2
urllib3==1.26.6
virtualenv==20.7.2
webdriver-manager==3.4.2
webencodings==0.5.1
